.header{
    background-color: #131921;
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        gap: 30px;
        height: 50px;
        
        &__logo{
            max-width: 150px;
            width: 100%;
            img{
                width: 100px;
            }
            
        }

        &__location{
            &:hover{
                border: 1px solid #fff;
            }
            &_title{
                padding-left: 15px;
                color: #a7acb2;
                font-size: 8px;
                p{
                    font-size: 15px;
                }
            }
            &_country{
                display: flex;
                gap: 5px;
                align-items: end;
                color: #fff;
            }
            &_name{
                font-size: 10px;
                
            }
        }
        &__search{
            max-width: 1000px;
            width: 100%;
            display: flex;
            border-radius: 3px;
            &_collection{
                background-color: #E6E6E6;
                padding: 10px 5px;
                display: flex;
                align-items: center;
                gap: 5px;
            }
            &_div{
                border-radius: 3px 0 0 3px;
            }
            &_title{
                font-size: 8px;
                color: #a7acb2;
                font-weight: 700;
            }
            &_input{
                width: 100%;
                padding: 3px;
                background-color: #fff;
                input{
                    border: none;
                    outline: none;
                    font-size: 12px;
                    font-weight: 700;
                    width: 100%;
                }
                
            }
            &_icon{
                border-radius: 0 3px 3px 0;
                padding: 5px 8px;
                background-color: #FEBD69;
            }
           
        }
        &__language{
            &:hover{
                border: 1px solid #fff;
            }
            margin-top: 10px;
            display: flex;
            align-items: center;
            gap: 5px;
            &_flag{
                width: 20px;
            }
            &_name{
                color: #fff;
                font-size: 10px;
            }
        }
        &__sign{
            &:hover{
                border: 1px solid #fff;
            }
            color: #a7acb2;
            width: 130px;
            font-size: 8px;
            &_title{
                display: flex;
                gap: 3px;
                color: #fff;
                font-size: 10px;
            }
        }
        &__orders{
            &:hover{
                border: 1px solid #fff;
            }
            color: #fff;
            font-size: 10px;
            max-width: 65px;
            width: 100%;
        }
        &__bag{
            padding: 5px 10px;
            &:hover{
                border: 1px solid #fff;
            }
            width: 40px;
            font-size: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff ;
        }
        
    }
    .navbar__model{
        position: fixed;
        background-color: #fff;
        z-index: 101;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 340px;
        min-height: 300px;
        display: none;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        .model__navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 50px;
            padding: 20px;
            background-color: #F0F2F2;
            border-radius: 8px 8px 0 0;
            &_title{
                font-weight: 700;
            }
            
        }
        .model__footer{
            padding: 20px;
            border-radius: 0 0 8px 8px;
            &_title{
                font-size: 12px;
                color: #a7acb2;
            }
            &_btn{
                margin-top: 10px;
                margin-bottom: 10px;
                width: 100%;
                border-radius: 50px;
                background-color: #FFD814;
                color: #524812;
                border: none;
                outline: none;
                text-align: center;
                padding: 8px;
            }
            &_subtitle{
                text-align: center;
                font-size: 12px;
                color: #9B9D9D;
                
            }
            &_password{
                margin-top: 5px;
                margin-bottom: 5px;
                display: flex;
                justify-content: space-between;
                input{
                    width: 70%;
                }
                .model{
                    width: 28%;
                    padding: 5px 20px;
                    border-radius: 50px;
                    border: 1px solid #9B9D9D;
                    color: #9B9D9D;
                    font-weight: 600;
                    background-color: transparent;
                    
                }
            }
            &_or{
                text-align: center;
                font-size: 12px;
                color: #9B9D9D;
            }
            &_country{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                background-color: #F0F2F2;
                padding: 8px 10px;
                border-radius: 50px;
                border: 1px solid #D5D9D9;
                .title{
                    font-size: 14px;
                    color: #868888b6;
                }
            }
            &_done{
                margin-top: 10px;
                display: flex;
                justify-content: end;
                button{
                    padding: 5px 10px;
                    background-color: #FFD814;
                    border-radius: 50px;
                    border: none;
                    outline: none;
                }
            }
        }
    }
}
.header__footer{
    background-color: #232F3E;
    height: 35px;
    display: flex;
    align-items: center;
    
}
.footer__collection{
    display: flex;
    align-items: center;
}
.footer__item{
   
    padding: 7px 15px;
}
.footer__item:hover{
    border: 1px solid white;
}
.footer__link{
    font-weight: 700;
    color: #fff;
    font-size: 13px;
}

.menyu{
    position: fixed;
    display: none;
    z-index: 101;
    top: 0;
    left: 0;
    padding-bottom: 15px;
    overflow: scroll;
    max-width: 300px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    
    .navbar{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 5px;
        height: 30px;
        background-color: #232F3E;
        &__title{
            color: #fff;
            flex: 1;
        }
        
    }
    &__subtitle{
        border-bottom:1px solid #a7acb2 ;
        padding: 5px;
        padding-left: 10px;

    }
    &__title{
        color: #111111;
        font-weight: 700;
        padding: 10px 0;
    }
    &__collection{
        display: flex;
        justify-content: space-between;
        color: #535353;
        font-size: 12px;
        margin-top: 5px;
    }
    &__text{
        color: #535353;
        font-size: 12px;
        margin-top: 3px;
    }
    &__language{
        margin-top: 5px;
        display: flex;
        gap: 3px;
    }
   
}
@media (max-width:850px) {
    .header{
        .navbar__language{
            display: none;
        }
        .navbar__sign{
            display: none;
        }
        .navbar__orders{
            display: none;
        }
    }
}
@media (max-width:600px) {
    .header{
        .navbar__bag{
            display: none;
        }
    }
    
}
@media (max-width:590px) {
    .navbar__search_input{
        input{
            font-size: 10px;
        }
    }
    .navbar__bag{
        display: none;
    }
    .header__footer{
        .close{
            display: none;
        }
        
    }
    
}
@media (max-width:580px) {
    .navbar{
        &__logo{
            img{
                object-fit: cover;
            }
        }
    }
    
}
@media (max-width:520px) {
    .header{
        .navbar{
            justify-content: space-between;
        }
    }
    
}
@media (max-width:520px) {
    .header{
        .navbar__search{
            justify-content: end;
            &_collection{
                display: none;
            }
            &_input{
                display: none;
            }
        }
        
    }
    
}
